
<footer class="bg-dark">
    <div>
        <div class="socials text-white">
            <p><b>Fehér László Márk</b></p>
            <a href="mailto:24imc10513@imc.ac.at" target="_blank"><i class="bi bi-envelope"></i></a>
            <a href="https://www.instagram.com/feherlaw/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="socials text-white">
            <p><b>Mikula Jakub</b></p>
            <a href="mailto:24IMC10527@fh-krems.ac.at" target="_blank"><i class="bi bi-envelope"></i></a>
            <a href="https://www.instagram.com/feherlaw/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="socials text-white">
            <p><b>Kollárová Zuzana</b></p>
            <a href="mailto:24imc10522@imc.ac.at" target="_blank"><i class="bi bi-envelope"></i></a>
            <a href="https://www.instagram.com/kollarovazuzka/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
        <div class="socials text-white">
            <p><b>Papp Luca Anna</b></p>
            <a href="mailto:24IMC10530@imc.ac.at" target="_blank"><i class="bi bi-envelope"></i></a>
            <a href="https://www.instagram.com/lucaanna12/" target="_blank"><i class="bi bi-instagram"></i></a>
        </div>
    </div>
</footer>

