<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('components/header') %>
    </head>
    <body>
        <%- include('components/navbar'), {currentRoute: currentRoute} %>
        <article>
            <form class="adduser bg-dark" action="/createUser" method="post">
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" placeholder="Enter user's name" required>
        
                    <label for="surname">Surname:</label>
                    <input type="text" id="surname" name="surname" placeholder="Enter user's surname" required>
                </div>
                <input type="submit" value="Accept" class="buttons">
            </form>
        </article>
        <%- include('components/footer') %>
    </body>
</html>