<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
</head>
<body>
    

    <%- include('components/navbar'), {currentRoute: currentRoute} %>

    <article> 
        <div class="bg-dark text-white p-4">
            <div class="container">
                <h1 class="mb-4">User Management Table</h1>
                <input type="text" class="form-control mb-3" placeholder="Search user">
                <table class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>User Gender</th>
                            <th>User Admin Privilege</th>
                            <th>View</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Admin</td>
                            <td>admin@admin.com</td>
                            <td>None</td>
                            <td>Yes</td>
                            <td><button class="btn btn-info btn-sm">VIEW</button></td>
                            <td><button class="btn btn-warning btn-sm">EDIT</button></td>
                            <td><button class="btn btn-danger btn-sm">DELETE</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
    </article>
    <!-- Bootstrap JS and dependencies -->    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <%- include('components/footer') %>
</body>
</html>