<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('components/header') %>
</head>
<body>
    

    <%- include('components/navbar'), {currentRoute: currentRoute} %>

    <article>
        
    </article>

    <%- include('components/footer') %>
</body>
</html>