body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: white;
    background-color: rgb(77, 77, 77);
}
article{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.card-img{
    padding: 10%;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.navbar-brand{
    color: white;
    font-size: bold;
}
.navbar-brand:last-child{
    margin: 0;
}
.navbar-brand:hover{
    color: #fb5b21;
}
.active {
    color: #fb5b21;
}


